<h1 class="form-title" style="text-align: center">Liste de mes Formations</h1>


<div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
  <mat-card class="teacher-card" *ngFor="let formation of formations">
    <mat-card-header style="background-color: #3f51b5;">
      <mat-card-title style="color: white;">Titre: <strong>{{formation.name}}</strong></mat-card-title>

    </mat-card-header>
    <mat-card-content style="margin-top: 10px;">
      <p>Domaine:  <strong>{{formation.domaine}}</strong></p>
      <p>description: <strong>{{formation.description}}</strong></p>
      <p>Theme: <strong>{{formation.theme}}</strong></p>
      <p>Code formation: <strong>{{formation.code}}</strong></p>
      <p>Debut: <strong>{{formation.obtenu | date:"MMM d, y"}}</strong></p>
      <p>Fin: <strong>{{formation.validite | date:"MMM d, y"}}</strong></p>


      <p>Prix: <strong>{{formation.prix}} .DT</strong></p>
      <p>Nb jours:  <strong>{{formation.duree}} Jours</strong></p>
    </mat-card-content><!--
    <mat-card-actions >
      <button mat-button color="warn" (click)="addFormation(formation.id)">Supprimer</button>
    </mat-card-actions>-->
  </mat-card>
</div>

