<h1 class="form-title" style="text-align: center">Liste des permissions</h1>

<div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
    <mat-card class="student-card" *ngFor="let permit of permits">
        <mat-card-content style="margin-top: 10px;">
          <p>Nom: <strong>{{permit.name}}</strong></p>
            <p>Objet: <strong>{{permit.subject}}</strong></p>
            <p>Sujet: <strong> {{permit.body}}</strong></p>
            <p>Date: <strong> {{permit.date | date:'dd,MM,y'}}</strong></p>
            <p>Status: <strong [ngStyle]="{'color': permit.permitStatus === 'APPROVED' ? 'green' : permit.permitStatus === 'DISAPPROVED' ? 'blue' : 'red'}">{{permit.studentPermitStatus}}</strong></p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Action</button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="changePermitStatus(permit.id,'Approved')">Approuver</button>
                <button mat-menu-item (click)="changePermitStatus(permit.id,'Disapproved')">Rejeter</button>
            </mat-menu>
        </mat-card-actions>
    </mat-card>
</div>
