<h1 class="form-title" style="text-align: center"> Liste des Formations </h1>

<div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
  <mat-card class="teacher-card" *ngFor="let formation of formations">
    <mat-card-header style="background-color: #3f51b5;">
      <mat-card-title style="color: white;">Titre: <strong>{{formation.name}}</strong></mat-card-title>

    </mat-card-header>
    <mat-card-content style="margin-top: 10px;">
      <p>Domaine:  <strong>{{formation.domaine}}</strong></p>
      <p>description: <strong>{{formation.description}}</strong></p>
      <p>Theme: <strong>{{formation.theme}}</strong></p>
      <p>Code formation: <strong>{{formation.code}}</strong></p>
      <p>Debut: <strong>{{formation.obtenu | date:"MMM d, y"}}</strong></p>
      <p>Fin: <strong>{{formation.validite | date:"MMM d, y"}}</strong></p>

      <!-- Affichage du fichier -->
      <div *ngIf="formation.file">
        <p>Fichier: <strong>{{ formation.file }}</strong></p>

        <!-- Affichage pour les fichiers PDF -->
        <ng-container *ngIf="isPdf(formation.file)">
          <iframe [src]="sanitizedFileUrl" width="600" height="800" type="application/pdf"></iframe>
        </ng-container>

      </div>
      <p>Prix: <strong>{{formation.prix}} .DT</strong></p>
      <p>Nb jours:  <strong>{{formation.duree}} Jours</strong></p>
    </mat-card-content>
  <!--  <select (change)="assignTeacher($event.target.valueOf(), formation.id)">
      <option *ngFor="let teacher of teachers" [value]="teacher.id">{{ teacher.name }}</option>
    </select>-->

    <mat-card-actions >
      <button mat-button color="primary" [routerLink]='["/admin/formation/",formation.id,"seance"]'>Ajouter une séance</button>
<button mat-button color="primary" [routerLink]='["/admin/formations/",formation.id,"students"]'>Détail</button>

      <button mat-button color="primary" [routerLink]='["/admin/formation",formation.id]'>Modifier</button>
      <button mat-button color="warn" (click)="deleteFormation(formation.id)">Supprimer</button>
    </mat-card-actions>

   <!-- <mat-form-field appearance="outline" class="form-field">
      <mat-label >Formateur</mat-label>
      <mat-select (change)="assignTeacherToFormation($event.target.valueOf(), formation.id)">
        <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">{{ teacher.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    -->
  </mat-card>



</div>
<div>
  <section>
    <div class="example-label">
      <div class="example-button-row" >
        <button mat-raised-button color="secondary" [routerLink]='["/admin/formation"]' target="_blank">Ajouter une Formation</button>
      </div>
    </div>
  </section>
</div>
