<section id="footer">
  <div class="quote">
    <div class="logobanner">
      <img style="margin-top: 20px" src="./assets/images/INC.svg" alt="" width="250px" height="auto" />
    </div>
    <p id="bottomLogo"></p>
    <br />
    <p style="font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif">
      Etudes et conseils en management<br />
      <a style="color: #1482c0" href="assets/images/Catalogue-Présentation-INC%20-%20V01.pdf"
        >CATALOGUE FORMATIONS 2020</a
      >
    </p>
  </div>
</section>

<div id="footerMain">
  <p>
    © Inter Nations Consulting<br />Site by
    <a style="color: crimson" target="_blank" href="">Ing. Stephane Alinga</a>
  </p>
</div>
