
<div class="bg" style="margin-top: 70px;">
  <mat-spinner *ngIf="isSpinning" [diameter]="50" class="spinner"></mat-spinner>
  <div class="parent">
    <div class="child">
      <h1 class="form-title">Ajouter un Formateur</h1>
      <form class="login-form" [formGroup]="validateForm">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nom</mat-label>
          <input matInput type="text" placeholder="Entrer votre nom" formControlName="name"/>
          <mat-error *ngIf="validateForm.get('name')?.hasError('required')">Ce champ est obligatoire!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Département</mat-label>
          <input matInput type="text" placeholder="Enter department" formControlName="department"/>
          <mat-error *ngIf="validateForm.get('department')?.hasError('required')">Ce champ est obligatoire!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Qualification</mat-label>
          <input matInput type="text" placeholder="Enter qualification" formControlName="qualification"/>
          <mat-error *ngIf="validateForm.get('qualification')?.hasError('required')">Ce champ est obligatoire!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Date de Naiss</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Choisir la date de naissance" formControlName="birthDate"/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="validateForm.get('birthDate')?.hasError('required')">Ce champ est obligatoire!</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Addresse</mat-label>
          <textarea matInput placeholder="Address" formControlName="address"></textarea>
          <mat-error *ngIf="validateForm.get('address')?.hasError('required')">Ce champ est obligatoire!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label >Genre</mat-label>
          <mat-select formControlName="gender" placeholder="Selectionner votre genre">
            <mat-option *ngFor="let gender of GENDER" [value]="gender">{{gender}}</mat-option>
          </mat-select>
          <mat-error *ngIf="validateForm.get('gender')?.hasError('required')">Ce champ est obligatoire!</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="validateForm.invalid" (click)="postTeacher()">Enregistrer</button>
      </form>
    </div>
  </div>
</div>
