
<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
  <header>
    <div class="header-content">
      <div class="header-content-inner">
        <div class="logobanner"><img src="./assets/images/INC.svg" alt="" /></div>
        <h1 id="TitleLogo" style="font-size: 40px">
          <span class="Inter">Inter</span>
          <span class="Nations">Nations</span>
          <span class="Consul">Consulting</span>
        </h1>
      </div>
    </div>
  </header>
  <div>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#about">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#value">Nos Valeurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#mission">Nos missions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#service">Nos Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#founder">fondatrice</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#domaine">domaine</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contact">Contact</a>
    </li>
  </ul>
  </div>
</nav>

