<div class="card-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
    <mat-card class="student-card" *ngFor="let permit of permits">
        <mat-card-content style="margin-top: 10px;">
          <p>Nom: <strong>{{permit.name}}</strong></p>
            <p>Objet: <strong>{{permit.subject}}</strong></p>
            <p>Texte: <strong> {{permit.body}}</strong></p>
            <p>Date: <strong> {{permit.date | date:'dd,MM,y'}}</strong></p>
            <p>Status: <strong [ngStyle]="{'color': permit.permitStatus === 'APPROVED' ? 'green' : permit.permitStatus === 'DISAPPROVED' ? 'blue' : 'red'}">{{permit.studentPermitStatus}}</strong>
            </p>
        </mat-card-content>
    </mat-card>
</div>
