<div xmlns="http://www.w3.org/1999/html">
  <app-navbar/>
</div>

<div
  data-bs-spy="scroll"
  data-bs-target="#navbar-example2"
  data-bs-root-margin="0px 0px -40%"
  data-bs-smooth-scroll="true"
  class="scrollspy-example bg-body-tertiary p-3 rounded-2"
  tabindex="0"
>
  <h4 id="#about"></h4>

  <section id="about">
    <div class="grid text-center">
      <h1 class="text-center mb-4 titre">QUI SOMMES NOUS ?</h1>
      <ul  class="list-group list-group-flush" style="border-radius: 25px;width: 50%;margin: auto;" >
        <li class="list-group-item" >

          <br />
          <p class="TextJust fw-bolder ">
            Fondé en Avril 2019 en Tunisie INTER NATIONS CONSULTING est bureau
            indépendant d'études et de conseils en management ainsi que de
            formations continues et de renforcement de capacités dans les
            domaines suivants :
          </p>

          <ul class="list-group text-center fw-bolder ">
            - Intelligence économique
            <br/>
            - QHSE
            <br/>
            - Soft skills
          </ul>

          <p class="TextJust fw-bolder">
            L’équipe INC bénéficie de larges compétences dans le conseil et le
            management des entreprises, acquises durant leurs expériences
            locales et internationales.
          </p>

        </li>
      </ul>
    </div>
  </section>

  <h4 id="#value"></h4>

  <section id="value">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center" style="margin-bottom: 50px">
          <h1 class="section-heading titre">NOS VALEURS</h1>
        </div>
      </div>
    </div>

    <div class="row ">
      <div class="col-lg-6 text-center">
        <h2 class="section-heading-1" style="padding-top: 20px">La Qualité</h2>
        <br />
        <p class="TextJust text-center fw-bolder">
          La qualité est ancrée dans tous ce que nous faisons,<br />
          La satisfaction de nos clients passe par la qualité de nos
          prestations. <br />Nous développerons des prestations qui visent
          l’excellence.
        </p>
      </div>

      <div class="col-lg-6 text-center">
        <h2 class="section-heading-2" style="padding-top: 20px">Le Partage</h2>
        <br />
        <p class="TextJust text-center fw-bolder">
          L’esprit d’équipe, l’échanges, le partage, le soutien mutuel
          <br />sont des qualités que nous mettons en oeuvre au sein d’équipe
          pour offrir <br />la prestation la plus appropriée au client.
        </p>
      </div>

      <div class="col-lg-6 text-center">
        <h2 class="section-heading-3" style="padding-top: 20px">L’intégrité</h2>
        <br />
        <p class="TextJust text-center fw-bolder">
          Nous utiliserons tous les moyens légaux,<br />
          ainsi que nos capacités intellectuelles pour cerner <br />les
          exigences du client et garantir une valeur ajoutée.
        </p>
      </div>

      <div class="col-lg-6 text-center">
        <h2 class="section-heading-4" style="padding-top: 20px">
          La complémentarité
        </h2>
        <br />
        <p class="TextJust text-center fw-bolder">
          La complémentarité des personnes au sein<br />
          des entreprises et des organisations est une condition de la
          performance<br />
          Toute équipe a besoin d'une certaine diversité pour réussir.
        </p>
      </div>
    </div>
  </section>

  <h4 id="#mission"></h4>
  <section id="mission">
    <div class="grid text-center">
      <h1 class="text-center mb-4 titre">NOS MISSIONS</h1>
      <ul  class="list-group list-group-flush" style="border-radius: 25px;width: 50%;margin: auto" >
        <li class="list-group-item">
          <h2 class="g-col-6">
            Conseil en Management pour les entreprises et organisations
          </h2>
        </li >
        <li class="list-group-item">
          <h2 class="g-col-6">Mise en place des cellules de Veille</h2>
        </li>
        <li class="list-group-item">
          <h2 class="g-col-6">Formations et Gestion des Compétences</h2>
        </li>
        <li class="list-group-item">
          <h2 class="g-col-6">Conseil en Recrutement (OUTSOURCING) .</h2>
        </li>
        <li class="list-group-item">
          <h2 class="g-col-6">Communication Digitale et WEB Marketing</h2>
        </li>
      </ul>
    </div>
  </section>

  <h4 id="#service"></h4>
  <section id="service">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-12 col-lg-offset-2 text-center"
          style="margin-bottom: 50px"
        >
          <h1 class="section-heading text-center textJust titre">NOS SERVICES</h1>
        </div>
      </div>

      <div class="row" >
        <div class="col-lg-6">
          <div class="icon">
            <i class="fa fa-clipboard shadow"></i>
          </div>
          <h2 class="section-heading text-center">CONSEIL</h2>
          <p class=" TextJust fw-bolder">
            INC a élaboré tout un programme de consulting pour répondre mieux
            aux besoins de ses clients En se basant sur son expertise en
            Business Management et technologies, INC a le recul et l’expertise
            nécessaires pour conseiller les entreprises, les investisseurs et
            les entrepreneurs en les orientant pour concrétiser leurs idées et
            conforter leurs acquis Les solutions stratégiques sont élaborées par
            INC en étroite collaboration avec le concerné, le suivi se fait par
            le cabinet INC veillant ainsi à bonne application de ces stratégies.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="icon">
            <i class="fa fa-paint-brush shadow"></i>
          </div>
          <h2 class="section-heading text-center">FORMATIONS</h2>
          <p class="TextJust fw-bolder">
            INC vous propose des formations ciblées qui répondent au mieux à vos
            besoins INC s’est entouré des meilleurs formateurs ayant la capacité
            d’identifier les points faibles, les exposer et y remédier pour
            optimiser le temps et l’apprentissage Le cabinet INC se veut un
            cabinet qui offre des formations personnalisées à la hauteur de vos
            attentes et renforçant votre potentiel.
          </p>
        </div>

        <div class="col-lg-12">
          <div class="icon">
            <i class="fa fa-camera shadow"></i>
          </div>
          <h2 class="section-heading text-center">INTELLIGENCE ECONOMIQUE</h2>
          <p class=" TextJust fw-bolder">
            Notre équipe de précurseurs et de pionniers de l'Intelligence
            Economique ( de l'Intelligence Technique, du Développement Régional
            Territorial, en Tunisie en France et dans différents pays, a acquis
            une immense expérience pratique des systèmes.
            <br />
            Nous proposons une nouvelle approche de l‘(IE) totalement reformulée
            et personnalisée, une expertise approfondie de l'Intelligence
            Technique et de la Stratégie Brevets une méthodologie de
            Développement Régional Territoriale originale et approuvée alliant
            expertise en planification, réflexion stratégique, réseau de
            spécialistes dans divers domaines et surtout mise en oeuvre et suivi
            des pratiques opérationnelles quotidiennes
          </p>
        </div>
      </div>
    </div>
  </section>

  <h4 id="#founder"></h4>
  <section id="founder">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading titre">Mouna HAJIRI</h1>
        </div>
      </div>

      <div class="col-lg-3 text-center" style="margin-top: 5px">
        <div class="icon">
          <i class="fa fa-clipboard shadow">Mouna Hajari</i>
        </div>
        <h2 class="section-heading text-center">
          <img
            style="border-radius: 25px"
            src="./assets/images/img_5.png"
            height="753"
            width="543"
            class="rounded float-start"
            alt=""
          />
        </h2>
      </div>

      <div class="col-lg-5" style="margin: 50%; margin-top: auto">
        <h2 class="section-heading textJust text-center">
          <ul class="list-group list-group-flush" style="border-radius: 25px">
            <li class="list-group-item">Fondatrice et gérante de INC.</li>
            <li class="list-group-item">
              Consultante et formatrice en management QHSE et Intelligence
              économique.
            </li>
            <li class="list-group-item">Enseignante universitaire Experte.</li>
            <li class="list-group-item">
              Plus que 1000 heures de formation et de consulting assurées en
              QHSE et en softskills auprès de plusieurs organisations.
            </li>
          </ul>
        </h2>
      </div>
    </div>
  </section>


  <h4 id="#domaine"></h4>
  <section id="domaine" class="my-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="titre">Domaines d'expertise</h1>
        </div>
        <div class="col-lg-12">

          <div class="row">
            <div class="col-md-3">
              <div class="image-container">
                <img src="/assets/images/img.png" alt="Qualité, Santé Sécurité et Environnement">
                <div class="image-caption">Qualité, Santé Sécurité et Environnement</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="image-container">
                <img src="/assets/images/img_1.png" alt="Soft SKILLS">
                <div class="image-caption">Soft SKILLS</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="image-container">
                <img src="/assets/images/img_2.png" alt="Coaching">
                <div class="image-caption">Coaching</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="image-container">
                <img src="/assets/images/img_3.png" alt="Management des organisations et Intelligence économique">
                <div class="image-caption">Management des organisations et Intelligence économique</div>
              </div>
            </div>
          </div>

    <!--
          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="/assets/images/img.png" class="d-block w-100" alt="Qualité, Santé Sécurité et Environnement" style="border-radius: 25px; object-fit: cover; max-height: 600px;">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Qualité, Santé Sécurité et Environnement</h5>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="/assets/images/img_1.png" class="d-block w-100" alt="Soft SKILLS" style="border-radius: 25px; object-fit: cover; max-height: 600px;">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Soft SKILLS</h5>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="/assets/images/img_2.png" class="d-block w-100" alt="Coaching" style="border-radius: 25px; object-fit: cover; max-height: 600px;">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Coaching</h5>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="/assets/images/img_3.png" class="d-block w-100" alt="Management des organisations et Intelligence économique" style="border-radius: 25px; object-fit: cover; max-height: 600px;">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Management des organisations et Intelligence économique</h5>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          -->

        </div>
      </div>
    </div>
  </section>


  <h4 id="#contact"></h4>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading titre">Contact</h1>
        </div>
        <div class="col-lg-3 text-center fw-bolder" style="margin-top: 45px">
          <p>
            <i class="fa fa-phone "></i>&nbsp; ( +216 ) 50 44 00 36
          </p>
        </div>

        <div class="col-lg-3 text-center fw-bolder" style="margin-top: 45px">
          <p>
            <i class="fa fa-envelope"></i>&nbsp;
            <a href="inter.nations.consultingl@gmail.com">
                inter.nations.consultingl&#64;gmail.com</a>
          </p>
        </div>

        <div class="col-lg-3 text-center fw-bolder" style="margin-top: 45px">
          <p>
            <i class="fa-brands fa-facebook" ></i>&nbsp;<a
              target="_blank"
              href="https://www.facebook.com/Inter Nations Consulting/">
                Inter Nations Consulting</a>
          </p>
        </div>

        <div class="col-lg-3 text-center fw-bolder" style="margin-top: 45px">
          <p>
            <i
              class="fa-solid fa-location-dot  wow bounceIn"></i>&nbsp;
            Parc Sidi Slimane<br />Nabeul<br />8000<br />Tunisie | TN
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<div>
  <app-footer/>
</div>
